<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div data-controller="alert" class="message"></div>

<div data-controller="something" data-something-alert-outlet=".message">
  <%= button_tag "click me", "data-action": "something#clicked" %>
</div>